<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<string>-24</string>
		<string>0</string>
		<string>-24</string>
		<string>-40</string>
		<string>61</string>
		<string>77</string>
		<string>69</string>
		<string>-45</string>
		<string>66</string>
		<string>-49</string>
		<string>-28</string>
		<string>-34</string>
		<string>-32</string>
		<string>-52</string>
		<string>-16</string>
		<string>-11</string>
		<string>17</string>
		<string>223</string>
		<string>-35</string>
		<string>-2</string>
		<string>-35</string>
		<string>-6</string>
		<string>-58</string>
		<string>-24</string>
		<string>-31</string>
		<string>-42</string>
		<string>-28</string>
		<string>30</string>
		<string>44</string>
		<string>-44</string>
		<string>-24</string>
		<string>72</string>
		<string>-24</string>
		<string>-19</string>
		<string>30</string>
		<string>75</string>
		<string>10</string>
		<string>-34</string>
		<string>-36</string>
		<string>-52</string>
		<string>-10</string>
		<string>30</string>
		<string>-6</string>
		<string>4</string>
		<string>-40</string>
		<string>25</string>
		<string>-22</string>
		<string>-36</string>
		<string>4</string>
		<string>-25</string>
		<string>-19</string>
	</array>
</dict>
</plist>
