<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Layer-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,619},{95,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,42}}</string>
                <key>sourceSize</key>
                <string>{95,42}</string>
            </dict>
            <key>Layer-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,342},{160,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,34}}</string>
                <key>sourceSize</key>
                <string>{160,34}</string>
            </dict>
            <key>Layer-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,232},{181,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,39}}</string>
                <key>sourceSize</key>
                <string>{181,39}</string>
            </dict>
            <key>Layer-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,137},{183,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,56}}</string>
                <key>sourceSize</key>
                <string>{183,56}</string>
            </dict>
            <key>Layer-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,666},{99,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,25}}</string>
                <key>sourceSize</key>
                <string>{99,25}</string>
            </dict>
            <key>Layer-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,381},{156,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,36}}</string>
                <key>sourceSize</key>
                <string>{156,36}</string>
            </dict>
            <key>Layer-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,465},{151,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,33}}</string>
                <key>sourceSize</key>
                <string>{151,33}</string>
            </dict>
            <key>Layer-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,373},{130,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,38}}</string>
                <key>sourceSize</key>
                <string>{130,38}</string>
            </dict>
            <key>Layer-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,55},{197,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,77}}</string>
                <key>sourceSize</key>
                <string>{197,77}</string>
            </dict>
            <key>Layer-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,110},{117,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,185}}</string>
                <key>sourceSize</key>
                <string>{117,185}</string>
            </dict>
            <key>Layer-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,301},{175,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,36}}</string>
                <key>sourceSize</key>
                <string>{175,36}</string>
            </dict>
            <key>Layer-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,374},{158,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,50}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>Layer-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,474},{149,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,53}}</string>
                <key>sourceSize</key>
                <string>{149,53}</string>
            </dict>
            <key>Layer-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,91},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>Layer-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,429},{153,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,40}}</string>
                <key>sourceSize</key>
                <string>{153,40}</string>
            </dict>
            <key>Layer-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,422},{155,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,38}}</string>
                <key>sourceSize</key>
                <string>{155,38}</string>
            </dict>
            <key>Layer-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,5},{74,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,43}}</string>
                <key>sourceSize</key>
                <string>{74,43}</string>
            </dict>
            <key>Layer-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,53},{74,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,33}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>Layer-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,58},{187,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,47}}</string>
                <key>sourceSize</key>
                <string>{187,47}</string>
            </dict>
            <key>Layer-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,342},{144,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,34}}</string>
                <key>sourceSize</key>
                <string>{144,34}</string>
            </dict>
            <key>Layer-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,736},{89,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,76}}</string>
                <key>sourceSize</key>
                <string>{89,76}</string>
            </dict>
            <key>Layer-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,416},{129,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,81}}</string>
                <key>sourceSize</key>
                <string>{129,81}</string>
            </dict>
            <key>Layer-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{211,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,45}}</string>
                <key>sourceSize</key>
                <string>{211,45}</string>
            </dict>
            <key>Layer-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,244},{180,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,52}}</string>
                <key>sourceSize</key>
                <string>{180,52}</string>
            </dict>
            <key>Layer-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,609},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>Layer-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,195},{106,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,92}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>Layer-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,122},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>Layer-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,967},{53,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,37}}</string>
                <key>sourceSize</key>
                <string>{53,37}</string>
            </dict>
            <key>Layer-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,620},{116,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>Layer-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,503},{128,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,101}}</string>
                <key>sourceSize</key>
                <string>{128,101}</string>
            </dict>
            <key>Layer-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,695},{116,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,62}}</string>
                <key>sourceSize</key>
                <string>{116,62}</string>
            </dict>
            <key>Layer-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,751},{114,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,26}}</string>
                <key>sourceSize</key>
                <string>{114,26}</string>
            </dict>
            <key>Layer-39.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,342},{161,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,27}}</string>
                <key>sourceSize</key>
                <string>{161,27}</string>
            </dict>
            <key>Layer-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,198},{181,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,41}}</string>
                <key>sourceSize</key>
                <string>{181,41}</string>
            </dict>
            <key>Layer-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,310},{163,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,27}}</string>
                <key>sourceSize</key>
                <string>{163,27}</string>
            </dict>
            <key>Layer-41.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,882},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>Layer-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,292},{131,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,76}}</string>
                <key>sourceSize</key>
                <string>{131,76}</string>
            </dict>
            <key>Layer-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,5},{206,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,48}}</string>
                <key>sourceSize</key>
                <string>{206,48}</string>
            </dict>
            <key>Layer-44.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,823},{105,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,54}}</string>
                <key>sourceSize</key>
                <string>{105,54}</string>
            </dict>
            <key>Layer-45.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,276},{180,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,29}}</string>
                <key>sourceSize</key>
                <string>{180,29}</string>
            </dict>
            <key>Layer-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,532},{127,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,94}}</string>
                <key>sourceSize</key>
                <string>{127,94}</string>
            </dict>
            <key>Layer-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,58},{132,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,28}}</string>
                <key>sourceSize</key>
                <string>{132,28}</string>
            </dict>
            <key>Layer-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,596},{129,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,19}}</string>
                <key>sourceSize</key>
                <string>{129,19}</string>
            </dict>
            <key>Layer-49.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,631},{125,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,52}}</string>
                <key>sourceSize</key>
                <string>{125,52}</string>
            </dict>
            <key>Layer-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,782},{111,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,87}}</string>
                <key>sourceSize</key>
                <string>{111,87}</string>
            </dict>
            <key>Layer-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,696},{98,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,35}}</string>
                <key>sourceSize</key>
                <string>{98,35}</string>
            </dict>
            <key>Layer-51.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,491},{123,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,46}}</string>
                <key>sourceSize</key>
                <string>{123,46}</string>
            </dict>
            <key>Layer-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,648},{121,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,98}}</string>
                <key>sourceSize</key>
                <string>{121,98}</string>
            </dict>
            <key>Layer-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,688},{119,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,99}}</string>
                <key>sourceSize</key>
                <string>{119,99}</string>
            </dict>
            <key>Layer-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,792},{106,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,26}}</string>
                <key>sourceSize</key>
                <string>{106,26}</string>
            </dict>
            <key>Layer-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,502},{133,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,89}}</string>
                <key>sourceSize</key>
                <string>{133,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>orangeMustaches.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38c44a9e02a03f2f7f5406b36a959630$</string>
            <key>textureFileName</key>
            <string>orangeMustaches.pvr.ccz</string>
        </dict>
    </dict>
</plist>
